.exhibitions-banner{
    background-image:
    linear-gradient(var(--color-shadow-image), var(--color-shadow-image)),
    var(--img-small-boy-painting);
}

.banner-img{
    width: 100%;
    height: 150px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transition: all 2ms ease;
}


.title-banner-1{
 background-image: var(--title-img1);
}
.title-banner-2{
    background-image: var(--title-img2);
   }
.title-banner-3{
    background-image: var(--title-img3);
}
.title-banner-4{
    background-image: var(--title-img4);
}
.title-banner-5{
    background-image: var(--title-img5);
}



.exhibition-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100vw; 
}  

.exhibition-info {
    width: 100%;
}

.exhibition-content{
    display: flex;
    width: 100%;
    transition: transform 0.8s;
    position: relative;
    max-width: 100vw; 
    
  
}

.exhibition-content .information-section{
    flex: 0 0 100%; 
    width: 100vw;
    height: 100%;
   
    white-space: normal;
    vertical-align: top;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    
}
.banner-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#cosmology:checked ~ .banner-container .grid-3-4:nth-child(1),
#evolution:checked ~ .banner-container .grid-3-4:nth-child(2),
#biology:checked ~ .banner-container .grid-3-4:nth-child(3),
#ecology:checked ~ .banner-container .grid-3-4:nth-child(4),
#robotics:checked ~ .banner-container .grid-3-4:nth-child(5){
    grid-template-columns: 100%;
}

#cosmology:checked ~ .exhibition-content{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}
#evolution:checked ~ .exhibition-content{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}
#biology:checked ~ .exhibition-content{
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}
#ecology:checked ~ .exhibition-content{
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
}
#robotics:checked ~ .exhibition-content{
    transform: translateX(-400%);
    -webkit-transform: translateX(-400%);
}



.exhibition-layout{
    display: flex;
    flex-direction: column;

}



@media screen and (min-width: 900px){

    .banner-img{
        
        z-index: 5;
        
        float: right;
        width: 70%;
        height: 100px;
    }

}

@media screen and (min-width: 1440px){
    .banner-img{
        width: 50%;
    }
}
